<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>История изменений Рубина</title>
</head>
<body>
<h3>История изменений</h3>

    <strong>Версия 19.12</strong>
    <ul>
    <li>Быстрое создание списка квартир
    <li>Добавлена проверка файла оплат при импорте (выводится информация количестве записей, общей сумме оплаты, сообщение о несовпадении сервисного кода файла и кода, установленного в системе, а также предупреждение о различных датах в файле)</li>
    <li>Исправлены мелкие ошибки с сохранением настроек</li>
    </ul>

    <strong>Версия 19.11</strong>
    <ul>
    <li>печать квитанций возможно только на лицевые счета с долгом</li>
    <li>оборотная ведомость по домам печатается в «старом стиле» по умолчанию</li>
    <li>мелкие доработки интерфейса по пожеланиям пользователей (уменьшены размеры окон, не вмещались на экран)</li>
    <li>добавлена сортировка в некоторые журналы (сортировка при нажатии на заголовок журнала)</li>
    </ul>


    <strong>Версия 19.10</strong>
    <ul>
    <li>Добавлен новый вид основного начисления суммой</li>
    <li>Исправлены ошибки импорта оплат и несколько ошибок интерфейса в журнале платежей</li>
    </ul>

    <strong>Версия 19.03</strong>
    <ul>
    <li>Добавлена возможность выбора нескольких файлов оплат от Теплоцентра</li>
    <li>Добавлена возможность пересканирования таблицы соответствия для поиска добавленных квартир в жилой фонд, но недобавленных в список.</li>
    <li>Добавлена возможность выбора поля импорта даты для файлов оплат Теплоцентра. Доступны для выбора поля: дата фактической оплаты и дата проведения </li>документов оплаты. Обычно, даты совпадают, но в конце и начале месяца даты могут несовпадать и суммы оплат будут «теряться», переходить в другой месяц.</li>
    </ul>

    <strong>Версия 19.01</strong>
    <ul>
    <li>Добавлена возможность удаления пачек из оплат</li>
    <li>Отчёт «Оборотно-сальдовая ведомость по КСК» переименован в «Оборотно-сальдовая ведомость по предприятию»</li>
    <li>В отчёт «Оборотно-сальдовая ведомость по предприятию» в заголовок выводится наименование предприятия</li>
    <li>Отчёты, содержащие в название «КСК» переименованы как «предприятие»</li>
    </ul>

    <strong>Версия 18.12</strong>
    <ul>
    <li>Добавлен модуль ввода первичных данных через файл Excel. Шаблон  файла (Шаблон импорта данных.xltx) расположен в папке templates.</li>
    </ul>

    <strong>Версия 18.11</strong>
    <ul>
    <li>в журнале ввода остатков исправлен вывод номера лиц.счёта</li>
    <li>в журнале ввода остатков исправлен выбор дома, отображаются только нужные реквизиты</li>
    </ul>


    <strong>Версия 18.10</strong>
    <ul>
    <li>мелкие исправления в каталоге домов и квартир (реакция на ентер при редактировании)</li>
    <li>исправлено формирование наименования дома. Теперь наименование формируется из указанного адреса (улицы и номер дома)</li>
    <li>добавлена возможность изменения справочника улиц города. При редактировании быть внимательным. Справочник ведётся в Теплоцентре, коды должны соответствовать кодам справочника Теплоцентра.</li>
    </ul>

    <strong>Версия 17.11</strong>
    <ul>
    <li>Добавлен отчёт Оборотная ведомость по ФР по КСК. Собирает данные по общему начислению и оплатам на определённую дату. Выводит итог</li>
    </ul>

    <strong>Версия 16.11</strong>
    <ul>
    <li>добавлена возможность работы с ПавлодарЭнергоСервис (экспорт оборотов, импорт платежей)</li>
    <li>исправлен отчёт в отдел статистики</li>
    </ul>

    <strong>Версия 16.9</strong>
    <ul>
    <li>Признак старшего по домам используется при начислениях. Для этого добавлена опция в справочник видов начислений «Учитывать распределения начисления по старшему по дому». Процедура начисления сначала выясняет алгоритм начисления на старшего из справочника домов. В случае, когда такой признак установлен, начисление производится с учётом флага.</li>
    <li>Добавлен новый отчёт «Реестр счёт-квитанций» для удобного формирования ежедневного реестра полученных оплат</li>
    </ul>

    <strong>Версия 15.01.23</strong>
    <ul>
    <li>Добавлена возможность работы с фондом развития жилого массива</li>
    <li>в карточку дома добавлена настройка «Фонд развития», отметка которой позволяет вести расчёт по фонду развития для выбранного дома</li>
    <li>добавлена настройка процента для расчёта тарифа по фонду развития</li>
    <li>изменён принцип формирования старого вида отчёта Оборотная ведомость по домам, формируем на всех (без учёта физ\юр. лица), а также площадь берём из начисления</li>
    <li>исправлена старая ошибка, требующая перезапуска программы чтобы данные из справочников попали в выбор</li>
    <li>общая оптимизация кода</li>
    </ul>

    <strong>Версия 14.01 </strong>
    <ul>
    <li>Введена новая нумерация версий программы. Первая цифра указывает год, вторая месяц. По версии всегда можно узнать когда у вас в последний раз была обновлена программа.</li>
    <li>Исправлена ведомость оплат, не добавляются лишние записи</li>
    <li>Отчёты сжимаются по центру и не выходят за рамки</li>
    </ul>


    <strong>Версия 5.5.3 (Октябрь 2013)</strong>
    <ul>
    <li>В отчёт Реестр оплат по домам добавлена возможность выбора вида оплат.</li>
    <li>Добавлен отчёт «Оплата по искам»</li>
    </ul>

    <strong>Версия 5.5.2 (Апрель 2013)</strong>
    <ul>
    <li>Добавлена возможность ведения пачек в оплатах</li>
    <li>Добавлено окно просмотра итогов по пачкам в экран ввода оплат</li>
    </ul>

    <strong>Версия 5.5.1 (Март 2013)</strong>
    <ul>
    <li>Теперь лицевые счета могут содержать точки, слэши, запятые, а также любые символы</li>
    <li>Расчёт пени вынесен в отдельный интерфейс вместе со ставками рефинансирования</li>
    <li>Добавлен функционал для ведения претензионной работы Операции-Претензионная работа, а также через карточку лицевого счёта</li>
    <li>Добавлена отчётность по претензионной работе </li>
    <li>Добавлены новые настройки </li>
    <ul>
        <li>методика начисления старшему по дому – за счёт КСК, за счёт жильцов, без начисления;</li>
        <li>автоматический вход в программу – потребуется ввод логина и пароля;</li>
        <li>настройки по отображению оборотно-сальдовой ведомости (Дебет/кредит в итогах, лиц. счета после расчёта ИТОГО);</li>
        <li>настройки печати квитанций – настройка строки вывода реквизитов;</li>
        <li>возможность редактирования начислений в журнале;</li>
        <li>настройки БИН/ИИН</li>
    </ul>
    <li>Изменения в интерфейсе (надеюсь, что стало более понятно и удобно)</li>
    <li>В окне закрытия месяца убран крыж начисления пени</li>
    </ul>
</body>
</html>