<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости проекта</title>
</head>
<body>
    <strong>2019.12.27</strong>
    <p>Вышло обновление программы Рубин 19.12. <a href="./changelog">Подробнее</a></p>
    <p>
        Краткий список изменений:
        <ul>
            <li>Добавлена кнопка быстрого создания списка квартир</li>
            <li>Добавлена проверка файла оплат при импорте</li>
            <li>Исправлены мелкие ошибки с сохранением настроек</li>
        </ul>
    </p>
    <strong>Мои контакты</strong>
    <p>Сопровождение программы Рубин производится удалённо при помощи программы <a href="https://www.teamviewer.com/ru/" target="_blank">TeamViewer</a> или <a href="https://anydesk.com/ru" target="_blank">AnyDesk</a></p>
    <p>Whatsapp: <a href="https://wa.me/79139342091">отправить сообщение</a></p>
    <p>Почта: 79139342091@yandex.kz </p>
    <p>Или позвоните мне: +7 913 934 2091</p>














</body>
</html>